* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

/* Navbar*/ 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #DD9C3C;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}

.nav-link:hover {
    font-weight: 700;
}


/* Header*/
.header {
    display: flex;
    align-items: center;
    padding: 70px 0;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    ine-height: 125%;  
}

.header-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    /* or 32px */
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}

.header-primary {
    color: #BF7506;
}

.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.header-links {
    display: flex;
    align-items: center;
}

.cv-download {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 55px;
    padding: 7px 8px 5px;
    width: 179px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
}

.cv-icon {
    margin-right: 4px;
}


/*Cards*/
.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
}

.card-text-wrapper {
    padding: 16px;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    max-width: 400px;
    margin-bottom: 40px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #BF7506;
    margin-top: 0;
    margin-bottom: 8px;
}

.card-text {
    ont-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
}

.tags {
    display: flex;
    align-items: center;
    padding: 0px;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 16px;
}

.tag {
    padding: 4px 8px;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #211B12;
    background-color: white;
    border: 1px solid #DD9C3C;
    border-radius: 4px;
    margin-right: 4px;
}

.card-buttons {
    display: flex;
    align-items: center;
}

.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}

.card-button-text {
    margin-right: 4px;
}


/* Developer */
.developer {
    display: flex;
    align-items: center;
    padding: 80px 0 20px;
}

.developer-photo {
    width: 360px;
    height: 440px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;   
}

.developer-about {
    margin-left: 55px;
}

.developer-hello {
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #211B12;
}

.developer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin-top: 4px;
    margin-bottom: 16px;
}

.developer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    margin-top: 16px;
    margin-bottom: 16px;
}

.motto {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #DD9C3C;
}

.developer-sign {
    max-width: 200px;
}

/* Skills */
.skills {
    padding: 20px 0;
}

.skills-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #211B12;
}

/* feedback */

.feedback {
    padding: 80px 0 160px;
}

.form-container {
    max-width: 435px;
    margin: auto;
}

.input-group {
    position: relative;
    padding-top: 9px;
    padding-bottom: 24px;
}

.input-label {
    position: absolute;
    left: 16px;
    top: 0px;
    background: #FFFFFF;
    padding: 0 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #83807C;
}

.input {
    border: 3px solid #E0DEDC;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

.textarea {
    min-height: 140px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 7px 8px 5px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border: none;
    border-bottom: 2px solid #BF7506;
    background: white;
    cursor: pointer;

}